PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
FRONTEND_URL="http://localhost:5173"

# Docker Database Configuration (change for production/security)
DB_USER=postgres
DB_PASSWORD=cambiame_por_seguridad
DB_NAME=tpexpress
